* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
}
body {
  font-family: fantasy;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 20px;
  background-color: transparent;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.countdown article {
  margin: 10px;
}

.countdown p {
  padding: 20px;
  border-radius: 5px;
  color: whitesmoke;
  background-color: rgb(29, 97, 12);
  font-size: large;
  width: 100px;
  box-shadow: 5px 5px 5px 5px rgb(0, 0, 0, 0.5);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container h1 {
  text-shadow: 0 0 4px white, 0 0 4px grey;
  color: rgb(221, 20, 20);
  margin-bottom: 30px;
  text-align: center;
  font-size: 45px;
}

.countdown h3 {
  font-size: 25px;
  margin: 30px;
  color: red;
  text-shadow: 0 0 1px white, 0 0 2px whitesmoke;
}
