* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  position: initial;
}
body {
  font-family: "dancing script";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 20px;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  overflow: hidden;
}

.countdown article {
  margin: 10px;
  overflow-y: hidden;
}

.countdown p {
  padding: 20px;
  border-radius: 5px;
  color: whitesmoke;
  text-shadow: 0 0 2px white, 0 0 2px green;
  background-color: rgb(29, 97, 12);
  font-size: 30px;
  width: 100px;
  box-shadow: 5px 5px 5px 5px rgb(0, 0, 0, 0.5);
  font-family: "dancing script";
}

.container h1 {
  text-shadow: 0 0 4px white, 0 0 4px grey;
  color: rgb(221, 20, 20);
  margin-bottom: 30px;
  text-align: center;
  font-size: 60px;
}

.countdown h3 {
  font-size: 30px;
  margin: 30px;
  color: red;
  text-shadow: 0 0 1px white, 0 0 2px whitesmoke;
}
